@model DepartmentViewModel
@{
	ViewData["Title"] = "Department Edit";
}

<h1 class="display-1"><i class="fa-solid fa-house-building"></i>Edit</h1>
<form action="/department/Update" method="post">
	<input type="hidden" name="Id" value="@Model.Id" /> <!--for update process carrying Id-->
	<div class="col-5">
		<div class="mb-3">
			<label for="Code" class="from-label">Code</label>
			<input type="text" name="Code" class="form-control" value="@Model.Code" placeholder="Enter Code">
		</div>

		<div class="mb-3">
			<label for="Description" class="from-label">Description</label>
			<input type="text" name="Description" class="form-control" value="@Model.Description" placeholder="Enter Description">
		</div>
		<div class="mb-3">
			<label for="ExtensionPhone" class="from-label">ExtensionPhone</label>
			<input type="text" name="ExtensionPhone" class="form-control" placeholder="Enter ExtensionPhone" value="@Model.ExtensionPhone">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
	<a href="/department/list" class="btn btn-warning">List</a>
</form>