<body style="color:gold">
    <h1>
        Welcome to Work out!!
    </h1>
    <a href="/CurrrencyConvertor/ConvertorV1">Currency Convertor version 1</a> |
    <a href="/CurrrencyConvertor/ConvertorV2">Currency Convertor version 2</a>
</body>
