@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole("HR"))
{
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Daily Attendance </h3>
                                <a href="javascript:void(0);" onclick="sayWelcome()">View Report</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">820</span>
                                    <span>Employee counts</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    <span class="text-success">
                                        <i class="fas fa-arrow-up"></i> 12.5%
                                    </span>
                                    <span class="text-muted">Since last week</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="visitors-chart" height="200"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <span class="mr-2">
                                    <i class="fas fa-square text-primary"></i> This Week
                                </span>

                                <span>
                                    <i class="fas fa-square text-gray"></i> Last Week
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">The Most honest people in the office</h3>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-sm">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a href="#" class="btn btn-tool btn-sm">
                                    <i class="fas fa-bars"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>FullName</th>
                                        <th>Department</th>
                                        <th>More</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                           E001
                                        </td>
                                        <td>MG</td>
                                        <td>
                                           HR
                                        </td>
                                        <td>
                                            <a href="#" class="text-muted">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                           E003
                                        </td>
                                        <td>Smith</td>
                                        <td>
@*                                             <small class="text-warning mr-1">
                                                <i class="fas fa-arrow-down"></i>
                                                0.5%
                                            </small> *@
                                          R&D
                                        </td>
                                        <td>
                                            <a href="#" class="text-muted">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                            E101
                                        </td>
                                        <td>James</td>
                                        <td>
                                           @*  <small class="text-danger mr-1">
                                                <i class="fas fa-arrow-down"></i>
                                                3%
                                            </small> *@
                                           Finance & Administration
                                        </td>
                                        <td>
                                            <a href="#" class="text-muted">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                            E201
                                            <span class="badge bg-success">NEW</span>
                                        </td>
                                        <td>Willian</td>
                                        <td>
                                            @* <small class="text-success mr-1">
                                                <i class="fas fa-arrow-up"></i>
                                                63%
                                            </small> *@
                                           Internship
                                        </td>
                                        <td>
                                            <a href="#" class="text-muted">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Payroll</h3>
                                <a href="javascript:void(0);">View Report</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">$18,230.00</span>
                                    <span>Payroll per month</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    <span class="text-success">
                                        <i class="fas fa-arrow-up"></i> 33.1%
                                    </span>
                                    <span class="text-muted">Since last month</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="sales-chart" height="200"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <span class="mr-2">
                                    <i class="fas fa-square text-primary"></i> This year
                                </span>

                                <span>
                                    <i class="fas fa-square text-gray"></i> Last year
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">Payroll cost Overview</h3>
                            <div class="card-tools">
                                <a href="#" class="btn btn-sm btn-tool">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-tool">
                                    <i class="fas fa-bars"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="text-success text-xl">
                                    <i class="ion ion-ios-refresh-empty"></i>
                                </p>
                                <p class="d-flex flex-column text-right">
                                    <span class="font-weight-bold">
                                        <i class="ion ion-android-arrow-up text-success"></i> 12%
                                    </span>
                                    <span class="text-muted">CONVERSION RATE</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="text-warning text-xl">
                                    <i class="ion ion-ios-cart-outline"></i>
                                </p>
                                <p class="d-flex flex-column text-right">
                                    <span class="font-weight-bold">
                                        <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
                                    </span>
                                    <span class="text-muted">SALES RATE</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                            <div class="d-flex justify-content-between align-items-center mb-0">
                                <p class="text-danger text-xl">
                                    <i class="ion ion-ios-people-outline"></i>
                                </p>
                                <p class="d-flex flex-column text-right">
                                    <span class="font-weight-bold">
                                        <i class="ion ion-android-arrow-down text-danger"></i> 1%
                                    </span>
                                    <span class="text-muted">REGISTRATION RATE</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
}
else if (User.IsInRole("Employee"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome : You are employee Role</h1>
    </div>
}
else
{
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">

        <div class="intro-content">
            <h2>Making <span>your organization</span><br>happen & growth!</h2>
            <div>
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('~/reveal/img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('~/reveal/img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('~/reveal/img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('~/reveal/img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('~/reveal/img/intro-carousel/5.jpg');"></div>
        </div>

    </section>

    <!-- #intro -->

   @*  <main id="main"> *@

        <!--==========================
          About Section
        ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                    <img src="~/reveal/img/about-img.jpg" alt="">
                    </div>

                    <div class="col-lg-6 content">
                    <h2>We will be glad to assist you</h2>
                    <h3>Cloud based HR Management Solution that can be used by small and medium business, as well as Large Enterprise. An application that can be managed from Recruitment to Retire of employee at all times from anywhere. It is designed to make employees happy and active in the workplace and to facilitate business owners and managers' activities quickly and efficiently.</h3>

                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i>People Directory</li>
                            <li><i class="ion-android-checkmark-circle"></i>Employee Self Services</li>
                            <li><i class="ion-android-checkmark-circle"></i>Attendance Management & Daily Check-In/Out</li>
                        <li><i class="ion-android-checkmark-circle"></i>Leave / OT </li>
                        <li><i class="ion-android-checkmark-circle"></i>Payroll & Tax</li>
                        <li><i class="ion-android-checkmark-circle"></i>Review & Appraisal</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- #about -->
        <!--==========================
          Services Section
        ============================-->
        <section id="services">
            <div class="container">
                <div class="section-header">
                    <h2>Services</h2>
                <p>We provide best features for our precious customer. It will help customer easy and comfortable in using this product.</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <div class="icon"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">Data Migration</a></h4>
                        <p class="description">We provide full service for the first-time customer. Fundamentally, we will send excel template to customer and fill the employees’ data. The customer just needs to log in and ready to use.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInRight">
                            <div class="icon"><i class="fa fa-picture-o"></i></div>
                            <h4 class="title"><a href="">User Training</a></h4>
                        <p class="description">We also provide helpful training for Executive and HR team. Then, we will give training to the employees.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                            <h4 class="title"><a href="">System Monitoring</a></h4>
                        <p class="description"> Are you worried about our system? Don’t worry about it. We have the customer care team to check our system carefully daily.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-map"></i></div>
                        <h4 class="title"><a href="">On call service</a></h4>
                        <p class="description">Our service team will arrive in a short period whenever customer have to face issues in site. If the customers’ HR team or Executive change, we’ll provide training again.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
          Clients Section
        ============================-->
        <section id="clients" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Clients</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>

                <div class="owl-carousel clients-carousel">
                <img src="~/reveal/img/clients/client-1.png" alt="">
                <img src="~/reveal/img/clients/client-2.png" alt="">
                <img src="~/reveal/img/clients/client-3.png" alt="">
                    <img src="~/reveal/img/clients/client-4.png" alt="">
                    <img src="~/reveal/img/clients/client-5.png" alt="">
                <img src="~/reveal/img/clients/client-6.png" alt="">
                    <img src="~/reveal/img/clients/client-7.png" alt="">
                <img src="~/reveal/img/clients/client-8.png" alt="">
                </div>

            </div>
        </section><!-- #clients -->
        <!--==========================
          Our Portfolio Section
        ============================-->
        <section id="portfolio" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Our Portfolio</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/1.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/1.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/2.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/2.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/3.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/3.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 3</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                            <a href="img/portfolio/4.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/4.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 4</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/5.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/5.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 5</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/6.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/6.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 6</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/7.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/7.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 7</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                        <a href="~/reveal/img/portfolio/8.jpg" class="portfolio-popup">
                            <img src="~/reveal/img/portfolio/8.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 8</h2></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #portfolio -->
        <!--==========================
          Testimonials Section
        ============================-->
        <section id="testimonials" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Testimonials</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>
                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <p>
                        <img src="~/reveal/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <img src="~/reveal/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    <img src="~/reveal/img/testimonial-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                        <img src="~/reveal/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <img src="~/reveal/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    <img src="~/reveal/img/testimonial-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                        <img src="~/reveal/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <img src="~/reveal/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    <img src="~/reveal/img/testimonial-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                        <img src="~/reveal/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        <img src="~/reveal/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    <img src="~/reveal/img/testimonial-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                        <img src="~/reveal/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <img src="~/reveal/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    <img src="~/reveal/img/testimonial-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>

                </div>

            </div>
        </section><!-- #testimonials -->
        <!--==========================
          Call To Action Section
        ============================-->
        <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Call To Action</h3>
                        <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Call To Action</a>
                    </div>
                </div>

            </div>
        </section><!-- #call-to-action -->
        <!--==========================
          Our Team Section
        ============================-->
        <section id="team" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Our Team</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                        <div class="pic"><img src="~/reveal/img/team-1.jpg" alt=""></div>
                            <div class="details">
                                <h4>James</h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                        <div class="pic"><img src="~/reveal/img/team-2.jpg" alt=""></div>
                            <div class="details">
                                <h4>Sarah Jhinson</h4>
                                <span>Product Manager</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                        <div class="pic"><img src="~/reveal/img/team-3.jpg" alt=""></div>
                            <div class="details">
                                <h4>Nelson</h4>
                                <span>CTO</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                        <div class="pic"><img src="~/reveal/img/team-4.jpg" alt=""></div>
                            <div class="details">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #team -->
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Contact Us</h2>
                <p>Cloud HRMS is a mobile first cloud based application that designed to make employees happy and helps management to manage HR processes effectively</p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                        <address>522/163 Meechai Mansion,Asok-Din Daeng,Din Daeng,Bangkok 10400 </address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:mr.kyaing7@gmail.com">mr.kyaing7@gmail.com</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>

            <div class="container">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>
        </section><!-- #contact -->
}