<h1>
    This is Do me Page.
</h1>
<p>
    Hello, @ViewData["Me"]  I come from ViewData key-value object.
</p>
<p>
    Hello,@TempData["Msg"] , I come from TempData Key-value object inside of HomeController.
</p>
<a href="/home/test">Go to Test</a>