<head>
    <style>
        p{
            color:green;
        }
        h1{
            color:yellow;
            text-align:center
        }
    </style>
    <script>
        function sayHello(){
            alert("Hi");
        }
    </script>
</head>
<h1>Hello,I com from Index View</h1>
<p>
    This is my P tag
</p>
<button onclick="sayHello()">Say Hello</button>
<a href="/home/welcome" title="Click here to go welcome page">Go to welcome</a>
<a href="/home/downloadimage" title="Click here to download ">Download image</a>